@model IEnumerable<ChurchStore.Domain.Pedido>

@{
    ViewData["Title"] = "Index";
}
<link href="./css/pedidos.css" rel="stylesheet" />
<h1>
    Pedidos
</h1>

<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Pedido</th>
            <th>Realizado há</th>
            <th>Status</th>
            <th>Solicitante</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pedido in Model)
        {
            <tr>
                <td>
                    <div class="btn btn-sm btn-secondary" onclick="verPedido(@pedido.PedidoId, '@pedido.StatusNome', '@pedido.PedidoDataAbreviada')">
                        <i class="fas fa-search"></i>
                    </div>
                </td>
                <td>@pedido.PedidoId</td>
                <td>@pedido.PedidoDataAbreviada</td>
                <td>
                    <div class="status">
                        <i class="fas fa-circle @pedido.StatusNome"></i>
                        <div>
                            @pedido.StatusNome
                        </div>

                    </div>
                </td>
                <td>@pedido.ClienteNome</td>
                <td>@pedido.PedidoValor.ToString("C2")</td>
                <td>
                    <button class="btn btn-sm btn-danger">Cancelar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal" id="modalPedidoInfo" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title">Atenção!</h5>

            </div>
            <div class="modal-body" id="PedidoInfoResult">
            </div>
        </div>
    </div>
</div>

<script>
    var verPedido = function(pedidoId, status, data){
        $.ajax({
            method: "GET",
            url: "/Home/ListarItensPedido?pedidoId="+pedidoId+"&status=" + status + "&dataAbreviada="+ data,
            success: function (data) {
                $("#PedidoInfoResult").html(data)
            }
        })

        $('#modalPedidoInfo').modal({
            show: true
        });
    }
</script>