@model IEnumerable<ChurchStore.Domain.PedidoItem>

@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/bag.css" asp-append-version="true" />

@foreach(var produto in Model)
{
    <div class="product-card">
        <div class="product-image-container">
            <img src="@produto.ImagemUrl" alt="" class="product-image" loading="lazy" />
            <div class="delete-icon" onclick="deleteOrderItem">
                <i class="fas fa-trash"></i>
            </div>
        </div>
        <div class="product-details">
            <div class="product-info">
                <h1 class="product-name">@produto.ProdutoNome</h1>
                <div class="product-price">@produto.ProdutoValor.ToString("C2")</div>
            </div>
            <div class="product-meta">
                <div class="product-quantity">Unidades @produto.Quantidade</div>
                <div class="product-total">@produto.Total.ToString("C2")</div>
            </div>
        </div>
    </div>


}
